html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 500px;
    height: 500px;
    border: 0;
    border-collapse: collapse;
}
td {
    border: 1px solid #aaa;
}
.mark {
    background: #000;
}