html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font: 16px/1.5 'Arial', sans-serif;
    max-width: 380px;
    margin: 6em auto;
}
.form-group {
    margin-bottom: 20px;
}
.form-group input {
    padding: .6em 1em;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#submit {
    padding: .6em 1.6em;
    border: 1px solid #143DC5;
    background: #1240DC;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    cursor: pointer;
    color: #fff;
}
.form-group label {
    display: block;
}

/**
 * Fehlerliste
 */
#errorList {
    background: #FFC7C7;
    border: 1px solid #F20000;
    padding: .5em;
    border-radius: 2px;

    display: none; /* Standard = Versteckt */
}
#errorList li {
    margin-left: 20px;
    color: #f00;
}

/**
 * Inline Fehler
 */
 .has-error input {
    border: 1px solid #f00;
 }
 .has-error label {
    color: #f00;
 }
 .error-msg {
    display: inline-block;
    padding: .1em .6em;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 10px;
    position: relative;
    top: -2px;
    background: #F20000;
    color: #fff;
 }