html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font: 16px/1.6 Arial, sans-serif;
    max-width: 800px;
    margin: 2em auto;
}
.product-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.product-list__entry {
    background: #f0f0f0;
    padding: 1em;
    margin-bottom: 1em;
    clear: left;
    overflow: auto;
}
.product-name {
    margin-top: 0;
}
.product-information {
    float: left;
    width: 80%;
}
.product-attributes {
    float: right;
    width: 20%;
    border: none;
    margin: 0;
    padding: 0;
}
.text-right {
    text-align: right;
}
.form-actions {
    border-top: 1px solid #eee;
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}
.btn {
    color: #fff;
    border-radius: 2px;
    background: #DA0000;
    border: 1px solid #A10707;
    padding: .4em .75em;
    cursor: pointer;
}
.additional-info__column {
    float: left;
    width: 50%;
    margin: 0;
    border: 0;
    padding: 0;
}
.additional-info__column:first-child {
    padding-right: 3em;
}
.input-group {
    margin-bottom: 1em;
}
.input-group:last-child {
    margin-bottom: 0;
}
.input-group label {
    display: block;
    font-weight: bold;
    font-size: .8em;
}
.input-group input,
.input-group select {
    border: 1px solid #888;
    padding: .5em .25em;
    width: 100%;
    background: #fff;
    border-radius: 2px;
}
.table-totals {
    width: 100%;
}
.table-totals th {
    text-align: left;
}
.table-totals td {
    text-align: right;
}